@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


:root {
--pink: #EE204D;
}

body {
   min-height: 100vh;
   min-height: fill-available;
   min-height: -webkit-fill-available;
    font-family: 'Blinker', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
}

html {
    height: fill-available;
    height: -webkit-fill-available;
}

.main {
    background-color: #141712;
}


span {
    color: var(--pink);
}



.linecolor {
    background-color: var(--pink);
    max-width: 140px;
    height: 3px;
}

.icon {
    margin-right: 10px;
    background-color: rgb(28, 27, 27);
    border-radius: 5px;
    padding: 10px;
}

.icon:hover {
    background-color: rgb(35, 33, 33);
}

.lbtn {
    border-bottom: 1px var(--pink) solid;
    padding: 5px;
}

.text {
    background-color: transparent;
    outline: none;
    color: #EE204D;
}

.form_div .btn {
    background-color: #EE204D;
    cursor: pointer;
    padding: 3px 55px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 0%;
    float: left;
}

.imag {
    margin-left: 5px;
    width: 50px;
    float: left;
   display: none;
}

.reult_div {
   display: none;
}

.ftext {
    font-family: 'Great Vibes', cursive;
}

.linediv {
    height: 1px;
}

.ball{

    width: 10px;
    height: 10px;
    background-color: #EE204D;
    border-radius: 50%;
    animation: move 5s infinite;
    animation-delay: 3s;
}
.ball2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: move 5s infinite;
}

.ball3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: move 5s infinite;
    animation-delay: 2s;
}
@keyframes move{
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(100vw , 0px);
    }
    
}